@model AnalizesProjektas.Models.Shipment

@{
    ViewData["Title"] = "DriverForm";
}

<h2>DriverForm</h2>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="submitDriverForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="driver.Vardas" class="control-label"></label>
                <input asp-for="driver.Vardas" class="form-control" />
                <span asp-validation-for="driver.Vardas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="driver.MasinosNr" class="control-label"></label>
                <input asp-for="driver.MasinosNr" class="form-control" />
                <span asp-validation-for="driver.MasinosNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="driver.MasinosModelis" class="control-label"></label>
                <input asp-for="driver.MasinosModelis" class="form-control" />
                <span asp-validation-for="driver.MasinosModelis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="driver.MasinosTipas" class="control-label"></label>
                <select asp-items="@Html.GetEnumSelectList(typeof(CarType))" class="form-control"></select>
                <span asp-validation-for="driver.MasinosTipas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipmentId" class="control-label"></label>
                <input asp-for="ShipmentId" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="checkIfDriverRegistered" asp-route-id="@Model.ShipmentId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
