@model AnalizesProjektas.Models.Shipment

@{
    ViewData["Title"] = "EditDriverForm";
}

<h2>Arrival selection</h2>

<h4>Gate</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Date<p>
            </th>
            <th>
                <p>8:00 - 9:00<p>
            </th>
            <th>
                <p>9:00 - 10:00<p>
            </th>
            <th>
                <p>10:00 - 11:00<p>
            </th>
            <th>
                <p>11:00 - 12:00<p>
            </th>
            <th>
                <p>12:00 - 13:00<p>
            </th>
            <th>
                <p>13:00 - 14:00<p>
            </th>
            <th>
                <p>14:00 - 15:00<p>
            </th>
            <th>
                <p>15:00 - 16:00<p>
            </th>
            <th>
                <p>16:00 - 17:00<p>
            </th>
            <th>
                <p>17:00 - 18:00<p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var days in ViewBag.gateTimes) {
        <tr>
            <th>
                <p>@days.Key.ToString("d")</p>
            </th>
            @foreach (GateTime hour in days) {
            <td>
                @if (hour.IsUsed != null && hour.IsUsed == true)
                {
                    <p>-</p>
                }
                else
                {
                    <form action="/Driver/RegisterArrival/@Model.ShipmentId" method="post">
                        <input type="text" name="GateTimeId" style="display: none" value="@hour.GateTimeId">
                        <button type="submit">SELECT</button>
                    </form>
                }
            </td>
            }
        </tr>
}
    </tbody>
</table>
