@model AnalizesProjektas.Models.Gate

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>This Gate can not be deleted as it contains related elements</h3>
<div>
    <h4>Gate</h4>   
    
    <form asp-action="Delete">
        <a asp-action="Index">Back to List</a>
    </form>
</div>
